/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* My CSS code below */

* {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: Catamaran;
}

header {
    background-color: #FFF;
    width: 100%;
    height: 100px;
}

header .header-brand {
    font-size: 24px;
    font-weight: 900;
    color: #111;
    display: block;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li {
    list-style: none;
    display: inline-block;
    float: left;
    padding: 0 10px;
}

header nav ul li a {
    font-size: 16px;
    font-weight: 600;
    color: #111;
}

header .header-contact {
    display: none;
}

@media only screen and (min-width: 768px) {
    header .header-brand {
        margin: 31px 0;
        text-align: left;
        line-height: 38px;
        padding: 0 20px 0 40px;
        border-right: 3px solid #111;
        float: left;
    }
    header nav ul {
        margin: 20px 0px 0px 20px;
        float: left;
    }

    header nav ul li a {
        line-height: 60px;
    }

    header .header-contact {
        display: block;
        font-size: 16px;
        font-weight: 600;
        color: #111;
        line-height: 38px;   
        border: 1px solid #111;
        border-radius: 7px;
        float: right;
        margin-right: 40px;
        margin-top: 30px;
        padding: 0 20px;
    }
}

/* Index */

.index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background: rgb(2,0,36);
    background-image: linear-gradient( 89.2deg,  rgba(5,120,190,1) 3.3%, rgba(119,217,211,1) 97.8% );
    display: table;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.index-banner h2 {
    font-size: 36px;
    font-weight: 900;
    line-height: 70px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.index-banner h1 {
    font-family: 'Cormorant Garamond';
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.index-links div {
    margin: 16px;
    width: calc(100% - 32px);
    height: 100px;
    background: rgb(2,0,36);
    background-image: linear-gradient( 89.2deg,  rgba(5,120,190,1) 3.3%, rgba(119,217,211,1) 97.8% );
    border-radius: 25px;
}

.index-links div h3 {
    font-family: Catamaran;
    font-size: 24px;
    font-weight: 600;
    line-height: 100px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }

    .index-banner {
        height: 500px;
    }

    .index-banner h1 {
        display: block;
        width: 550px;
        margin: 0 auto;
    }

    .index-banner h2 {
        font-size: 48px;
    }

    .index-links div {
        margin: 16px;
        width: calc(100% - 32px);
        height: 100px;
    }
}

/* ABOUT SECTION */
.about {
    margin: 20px;
    padding: 20px;
    background: rgb(2,0,36);
    background-image: linear-gradient( 89.2deg,  rgba(5,120,190,1) 3.3%, rgba(119,217,211,1) 97.8% );
    border-radius: 25px;
}

.about h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}

.about p {
    color: #fff;
    line-height: 30px;
    text-indent: 30px;
}

.about img {
    width: 150px;
    display: block;
    margin: 20px auto;
}

@media only screen and (min-width: 768px) {
    .about h1 {
        font-size: 36px;
        margin-bottom: 20px;
    }
    .about img {
        width: 200px;
    }

    .container-about {
        width: 500px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1366px) {
    .container-about {
        width: 700px;
        margin: 0 auto;
    }
}

.education {
    margin: 20px;
    padding: 20px;
    background: rgb(2,0,36);
    background-image: linear-gradient( 89.2deg,  rgba(5,120,190,1) 3.3%, rgba(119,217,211,1) 97.8% );
    border-radius: 25px;
}

.education h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}

.education h3 {
}

.education img {
    width: 50px;
}

/* FOOTER */

footer {
    width: 100%;
    padding: 40px;
    background: rgb(2,0,36);
    background-image: linear-gradient( 89.2deg,  rgba(5,120,190,1) 3.3%, rgba(119,217,211,1) 97.8% );
    overflow: hidden;
}

footer ul {
    width: fix-content;
    float: left;
    padding-left: 10px;
}

footer ul li {
    display: block;
    list-style: none;    
}

footer ul li a {
    font-size: 16px;
    font-weight: 450;
    color: #fff;
    line-height: 30px;
}

.footer-sm {
    width: 40px;
    float: right;
}

.footer-sm img {
    width: 100%;
    margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    footer ul {
        padding-left: 20px;
    }

    footer ul li a {
        font-size: 24px;
        font-weight: 450;
        color: #fff;
        line-height: 40px;
    }

    .footer-sm {
        width: 50px;
    }
}
